{% extends 'base.html' %}

{% load static %}

{% block css_files %}
{% endblock %}

{% block page_title %}
PAGE 404
{% endblock page_title %}
   
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header">
                <h2>Page 404</h2>
            </div>
            <div class="card-text"><i class="fa-solid fa-person-digging"></i><h3>Still on developing process.</h3></div>
        </div>    
    </div>
</div>
            {% endblock %}

{% block js_files %}
{% endblock %}