{% extends "base.html" %}

{% load static %}

{% block css_files %}
    
{% endblock %}

{%  block content %}

<h1>Myths Page</h1>

    
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body card-bg">
                    <h5 class="card-title">Title</h5>
                    <p class="card-country"> From this country </p>
                    <p class="card-text"><small class="text-muted">Date</small></p>
                    <p class="card-text"> Post content sliced...</p>
                    
                    <a href="#" class="btn btn-dark">Click to see details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body card-bg">
                    <h5 class="card-title">Title</h5>
                    <p class="card-country"> From this country </p>
                    <p class="card-text"><small class="text-muted">Date</small></p>
                    <p class="card-text"> Post content sliced...</p>
                    
                    <a href="#" class="btn btn-dark">Click to see details</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}