{% extends "base.html" %}

{% load static %}


{% block css_files %}
    
{% endblock %}

{%  block content %}    
<div class="container">
    <div class="card detail-card col d-flex justify-content-center align-items-left">
        <h2 class="card-title">{{ story.title }}</h2>
        <div class="image-container">
            {% if "placeholder" in story.featured_image.url %}
            <img class="card-img-top responsive-image" src="{% static 'images/default_pic.jpg' %}"
              alt="placeholder image">
            {% else %}
            <img class="card-img-top responsive-image" src=" {{ story.featured_image.url }}"
              alt="{{ post.title }}">
            {% endif %} 
        <p class="card-country">From: <strong>{{ story.country }}</strong></p>
        <p class="card-date">Posted at: <strong>{{ story.shared_at|date:"d/m/Y h:i A" }}</strong></p>
        {% if story.edited_at %}
        <p>Edited at: <strong>{{ story.edited_at|date:"d/m/Y h:i A" }}</strong></p>
        {% endif %}
        <p class="card-author">By <strong>{{ story.author }}</strong></p>
        <p class="card-text">{{ story.description|safe }}</p>
       
        {% if user == story.author %}
        <a href="{% url 'edit_story' story.id %}" class="btn btn-dark">Click to edit</a>
        <a href="{% url 'delete_story' story.id %}" class="btn btn-danger">Click to delete</a> 
        {% endif %}
    </div>


    <div class="comment-form mt-4 card detail-card col d-flex justify-content-center align-items-left">
        <h4>Add a comment</h4>
            <form method="POST" action="{% url 'add_comment' story.slug %}">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="content" class="form-control" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-dark mt-2">Submit Comment</button>
        </form>
    </div>
    <div class="comments-section mt-4 card col detail-card card d-flex justify-content-center">
        <h3>Comments</h3>
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <p><strong>{{ comment.author }}</strong> - {{ comment.created_at|date:"d/m/Y h:i A" }}</p>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>There is not comment yet.</p>
        {% endif %}
    </div>   
    </div>
    
</div>
{% endblock %}

{% block js_files %}

{% endblock %}