{% extends "base.html" %}

{% load static %}


{% block css_files %}
    
{% endblock %}

{% block page_title %}
Stories
{% endblock %}

{% block content %}

<div class="container">

    <h1 id="story-h1">STORIES</h1>
    {% if user.is_authenticated %}
        <a href="create" class="btn btn-dark">Click to create your story.</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-dark">Login to create your story.</a>
    {% endif %}
<hr>
        {% for story in stories %}
    <div class="card">
        <div class="row">
        <div class="col-md-12"> 
            <div class="card-body">                   
                    <h3 class="card-title">{{ story.title }}</h3>
                    <p class="card-info"><strong>from: </strong> {{ story.country }}  <strong>posted at:</strong> {{ story.shared_at|date:"d/m/Y h:i A" }}</p>
                    <p class="card-text">{{ story.description|slice:":100"|safe }}...</p>
                    <p class="card-author">by <strong>{{ story.author }}</strong></p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'story_details' story.slug %}" class="btn btn-dark">Click to read all story.</a>
                    {% else %}  
                    <a href="{% url 'login' %}" class="btn btn-dark">Click to log in and read the details.</a>
                    {% endif %}
                </div>
            </div>
        </div>   
    </div>
        {% endfor %}
</div>

    
{% endblock %}

{% block js_files %}

{% endblock %}