{% extends "base.html" %}

{% load static %}


{% block css_files %}
    
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body card-bg">
            <h5 class="card-title">Welcome to Scary Pumpkin!</h5>
            <p class="card-text">The premier online platform for horror fans around the globe! This is the place where the most frightening myths, chilling stories, and spooky folklore are brought to reality, told by enthusiasts of the eerie from all around the world. If you're interested in haunted houses, urban legends, supernatural experiences, or Halloween scares, our website provides a place to connect, share, and delve into the frightening stories that haunt you after dark.

              Come and participate with us in sharing ghost stories, creating new horror fiction, or exploring chilling local myths. Have the courage to read and share your story!</p>
          </div>
        </div>
    </div>
  
    <div class="col-md-6 d-flex flex-column">
        <div class="card mb-4">
          <div class="card-body card-bg">
            <h5 class="card-title">Stories</h5>
            <p class="card-text">Explore the Story Archives, where both writers and horror enthusiasts share their scariest stories. This is where you can unleash your creativity, from original short stories to terrifying tales based on true events. Whether you have encountered the supernatural or enjoy writing horror fiction, you can share scary stories and delve into the dark realms crafted by others. Proceed at your own risk, and keep in mind that each story could be closer to reality than you believe.</p>
            <a class="btn btn-dark" href="{% url 'story' %}">Click to Myths</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body card-bg">
            <h5 class="card-title">Myths</h5>
            <p class="card-text">Explore the Myth Archives, where timeless tales, traditional stories, and eerie urban legends from across the globe unite. This is a location to investigate the mysterious, exchange the spookiest stories from your area, and discover the terrifying narratives that have been passed down through the years. Explore the myths that blur the boundary between fiction and reality, from cursed items to enigmatic creatures hidden in the shadows. Embark on an adventure if you're courageous enough, but remember, certain myths live on forever.</p>
            <a class="btn btn-dark" href="{% url 'myth' %}">Click to Myths</a>
          </div>
        </div>
    </div>
</div>
    

{% endblock %}
