{% extends "base.html" %}

{% load static %}

{% block css_files %}
    
{% endblock %}

{% block page_title %}
Scary Pumpkin
{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body card-bg">
          <h1 class="card-title">This is SCARY PUMPKIN!</h1>
          <h4 class="card-text">This is the place where the most frightening myths, chilling stories, and spooky folklore are brought to reality, told by enthusiasts of the eerie from all around the world. 
              If you're interested in haunted houses, urban legends, supernatural experiences, or Halloween scares, our website provides a place to connect, share, and delve into the frightening stories that haunt you after dark.</h4>

          <h3 class="card-text">Come and participate with us in sharing ghost stories, creating new horror fiction, or exploring chilling local myths. Have the courage to read and share your story and local myth!</h3>
          </div>
        </div>
      </div>
    
  
      <div class="col-md-6 d-flex flex-column">
        <div class="card mb-4 card-bg">
          <div class="col">
          <h1 class="card-title">STORIES & MYTHS</h1>
            <h4 class="card-text"> Explore the Story and the Myth Archives, where both writers and horror enthusiasts share their scariest stories. This is where you can unleash your creativity, from original short stories to terrifying tales based on true events. Whether you have encountered the supernatural or enjoy writing horror fiction, you can share scary stories and delve into the dark realms crafted by others.</h4>
            <h3>Proceed at your own risk, and keep in mind that each story could be closer to reality than you believe!</h3>
            <a class="btn btn-dark text-muted" href="{% url 'story' %}">Click to see the archive.</a>
          </div>
        </div>
      </div>
    </div>
</div>

    
    

{% endblock %}
