{% extends 'base.html' %}

{% load static %}

{% block css_files %}
{% endblock %}

{% block page_title %}
   {{user.username}}'s page
{% endblock page_title %}
   
{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-header">
            <h2 class="card-title">{{user.username}}'s Profile</h2>
          </div>
          <div class="card-body">
            <p class="card-text"></p>            
          </div>
          <div class="card-footer">
            <p>Registration date: {{ user.date_joined|date:"d F Y" }}</p>
          </div>
          <div>
            <h3>{{user.username}}'s posts</h3>
            {% if user_stories %}
                <ul>
                {% for story in user_stories %}
                    <li>
                        <span class="story-link" data-url="{% url 'story_details' story.slug %}" style="cursor: pointer;">
                            {{ story.title }}
                        </span>
                        <small>Created: {{ story.shared_at|date:"d F Y" }}</small> 
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>There is not any stories yet.</p>
            {% endif %}
        </div>
        </div>
      </div>
    </div>
  </div>

<script>
document.querySelectorAll('.story-link').forEach(function(link) {
  link.addEventListener('click', function() {
      window.location.href = this.getAttribute('data-url');
  });
});
</script>

{% endblock %}


